@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  background: url(../public/bg.png) no-repeat;
  background-size: cover;
  
  font-family: 'Inter', sans-serif;
}

.form-border {
  border-color: #f2f2f2;
}

.forgot-pass p {
  font-size: 14px;
}